{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-param-reassign": 0,
    "jsx-boolean-value": 0,
    "no-use-before-define": 0,
    "object-shorthand": 0,
    "strict": 0,
    "no-confusing-arrow": ["error", {"allowParens": true}],
    "global-require": 0,
    "react/jsx-boolean-value": 0,
  }
}
